.hero-logo {
    width: 80vw;
    margin-left: 10%;
    margin-top: 10vh;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.hero-tagline-img {
    width: 60vw;
    margin-left: 20vw;
    position: relative;
    top: -80px;
}


.quote-tile {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 30px;
}
.quote-author-img {
    width: 100%;
    clip-path: url(#authorClipPath)
}
.author-img-container svg {
    position: fixed;
}
.quote-body-text {
    font-family: 'Muli', sans-serif;
}
