.intro-hero-bg {
    position: absolute;
    height: 100%;
    z-index: -5;
    opacity: 0;
}
.intro-hero-bg img {
    height: 100%;
    position: absolute;
    transform: scale(1.1);
}
.intro-hero {
    position: relative;
    overflow: hidden;
}
.hero-logo {
    width: 80vw;
    margin-left: 10%;
    margin-top: 10vh;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.hero-tagline-img {
    width: 60vw;
    margin-left: 20vw;
    position: relative;
    top: -80px;
}


.quote-tile {
    background-color: #46a2b9;
}
.quote-tile h1 {
    margin-left: 2rem;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0;
}
.quote-author-img {
    width: 100%;
    clip-path: url(#authorClipPath)

}
.teacher-info {
    font-family: 'Muli', sans-serif;
    padding: 2rem;
    padding-top: 1rem;
}

.author-img-container {
    background-color: #46a2b9;
}

.author-img-container svg {
    position: fixed;
}
.quote-author-text {
    background-color: #46a2b9;
    padding: 1em;
}
.quote-attribution {
    font-family: 'Muli', sans-serif;
    padding-top: 1em;
    font-style: italic;
    font-weight: bold;
}
.quote-body-text {
    font-family: 'Muli', sans-serif;
}
.resources-header {
    font-size: 2.5em;
    text-align:center;

}
.resources-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.resources-tile img {
    width: 5em;
    max-height: 5em;
    margin-left: calc( ( 100% - 5em ) / 2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.resources-tile .fas {
    font-size: 3em;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.resources-tile h1 {
    margin: 0;
    font-family: 'Muli', sans-serif;;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    min-height: 2.5em;
    padding: 1em;
    box-sizing: border-box;
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
}
.resources-tile .description {
    font-family: 'Muli', sans-serif;
    padding: 2em;
    padding-top: 1em;
}

.cte-clubs {
    background-color:aqua;
}
.club-tiles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}
.club-tile-img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.club-tile h1 {
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
}
.tile-1-theme {
    color: #ff0000;
}
.tile-2-theme {
    color: #3d9dff;
}
.tile-3-theme {
    color: #00b727;
}



@media (max-width: 520px) {
    .resources-header {
        font-size: 3.7em;
    }
    .resources-wrapper {
        display: block;
    }
    .resources-tile h1 {
        min-height: none;
        font-size: 2.2em;
        padding: 1em;
        box-sizing: border-box;
    }
}
