#nav {
	z-index: 9999999999; /* Ah, yes */
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: white;
	font-size: 1.8em;
	height: 2em;
	padding-left: 0.5em;
	line-height: 2em;
}
#nav-expanded {
	display: none;
	z-index: 9999999999;
	text-decoration:none;
	list-style-type: none;
	font-family:Arial;
	background-color: white;
	margin: 0;
	position: fixed;
	top: 2.4em;
	left: -3em;
	opacity: 0;
	width: 100%;
	font-size: 1.5em;
	width: 40%;
	min-width: 5em;
	height: 100%;
	padding-left: 1em;
	padding-top: 0.8em;
	--right-padding: 3em;
	padding-right: var(--right-padding);
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--right-padding)) 100%, 0 100%);
}
#nav-expanded li {
	display: inline-block;
	margin-bottom: 0.5em;
	color: #777;
	transition: 0.2s;
	width: fit-content;
}
#nav-expanded li:after {
	content: ".";
	display: block;
	width: 0%;
	font-size: 2px;
	background-color: black;
	color: black;
	transition: 0.5s;
}
#nav-expanded li:hover::after {
	width: 100%;
}
#nav-expanded li:hover {
	color: black;
	cursor: pointer;
}
#nav-shade {
	background-color: black;
	opacity: 0;
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	top: 0;
	padding: 0;
	left: 0;
}
.video-background-container {
	--height: 200px;
	display: block;
	position:relative;
	height: var(--height);
}
.video-background-container video {
	position: fixed;
	top:3em;
	width: 100%;
	clip-path: url(#tsaLogo);
	transform: scale(0.8);
}

.clip_path {
	position: fixed;
}

.content-text {
	position: absolute;
	z-index: 9999999;
	background-color:white;
	padding: 1em;
}

body {
	margin: 0;
	padding-top: 3em;
	background-color: white;
}
