#nav {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: white;
	font-size: 1.8em;
	height: 2em;
	padding-left: 0.5em;
	line-height: 2em;
}
body {
	background-color: aqua;
}